.thankyou-sec {
	height: 550px;
	display: flex;
	align-items: center;
	.section-header-center {
		h2 {
			padding: 25px 0;
		}
	}
	.payment-sec.cct {
		.form-group {
			a {
				display: inline-block;
				margin-top: 20px;
			}
		}
	}	
	.main-box {
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
		padding: 30px;
		background-color: #fff;
	}
}
.payment-sec.cct {
	.form-group {
		margin-bottom: 0;
	}
}
